@model MyResumeOfWPF.PDO.EducationRow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EducationRow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolnameColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolnameColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MajoyColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MajoyColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StageColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StageColumn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EducationRowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
